#reviews {
    padding: 60px var(--padding);
    text-align: center;
}

#reviews>h1 {
    color: var(--heading-color);
    font-size: var(--heading-size-desktop);
    margin-bottom: 10px;
}

#reviews>p {
    color: var(--para-color);
    font-size: var(--para-size-desktop);
    margin-bottom: 40px;
}

#reviews-container-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(260px, 1fr));
    gap: 30px;
    max-width: 1100px;
    margin: auto;
}

#review-card {
    padding: 20px;
    background: rgba(255, 255, 255, 0.7);
    backdrop-filter: blur(10px);
    border-radius: 15px;
    box-shadow: var(--shadow);
}

#customer-img {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 10px;
}

#customer-img>img {
    height: 90px;
    width: 90px;
    border-radius: 50%;
}

#customer-role {
    color: var(--heading-color);
    margin-bottom: 7px;
    font-weight: 500;
}

#customer-comment {
    color: var(--para-color);
    margin-bottom: 7px;
}

#customer-name {
    text-align: end;
    font-weight: 600;
    font-size: 19px;
    color: var(--primary);
}

@media (width<=850px) {
    #reviews>h1{
        font-size: var(--heading-size-mobile);
    }
    #reviews>p{
        font-size: var(--para-size-mobile);
    }
}

@media (width<350px) {
     #reviews-container-grid{
        grid-template-columns: repeat(auto-fit,minmax(150px,1fr));
    }
}