#featured-hotels {
    padding: 60px var(--padding);
    text-align: center;
}

#featured-hotels>h1 {
    font-size: var(--heading-size-desktop);
    color: var(--heading-color);
    margin-bottom: 10px;
}

#featured-hotels>p {
    font-size: var(--para-size-desktop);
    color: var(--para-color);
    margin-bottom: 40px;
}

#hotels-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(260px, 1fr));
    max-width: 1100px;
    margin: auto;
    gap: 30px;
}

@media (width<=850px) {
    #featured-hotels>h1 {
        font-size: var(--heading-size-mobile);
    }

    #featured-hotels>p {
        font-size: var(--para-size-mobile);
    }
}

@media (width<350px) {
    #hotels-grid {
        grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
    }
}