.filters {
    background-color: #fff;
    padding: 20px;
    position: sticky;
    top: 60px;
    align-self: flex-start;
    border-radius: var(--border-radius);
    box-shadow: var(--shadow);
}

.filter-columns {
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-bottom: 20px;
    padding-bottom: 20px;
    border-bottom: 1px solid var(--gray);
}

.filter-columns>h1 {
    font-size: 20px;
    font-weight: 600;
}

.price-range-slider {
    accent-color: var(--primary);
}

.price-range {
    display: flex;
    justify-content: space-between;
    font-size: 16px;
    color: var(--gray);
}

.filter-column {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.filter-options {
    display: flex;
    gap: 7px;
    align-items: center;
}

.filter-options>input {
    height: 18px;
    width: 18px;
    accent-color: var(--primary);
}

.filter-options>label {
    font-size: 18px;
}

.apply-filters>button {
    background-color: var(--primary);
    width: 100%;
    border: none;
    color: #fff;
    height: 30px;
    cursor: pointer;
}

.stars-conatiner {
    display: inline-block;
    margin-right: 5px;
    color: #ffe600;
}

@media (width<=950px) {
    .filters {
        position: static;
    }
}