footer {
    background-color: #0f172a;
    padding: 60px var(--padding);
    padding-bottom: 0px;
    color: #cbd5e1;

}

#footer-container {
    max-width: 1100px;
    margin: auto;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(260px, 1fr));
    gap: 40px;
}

.footer-columns {
    display: flex;
    flex-direction: column;
    gap: 15px;
    margin-bottom: 20px;
}

.footer-columns>h4,
.footer-columns>h3 {
    color: #fff;
    font-size: 22px;
}

#footer-bottom {
    display: flex;
    justify-content: center;
    align-items: center;
    border-top: 1px solid var(--gray);
    padding: 20px;
    color: white;
}

.footer-links a {
    color: #cbd5e1;
    text-decoration: none;
    transition: var(--transition);
}

.footer-links a:hover {
    color: #fff;
    margin-left: 10px;
}

.footer-links {
    display: flex;
    flex-direction: column;
    gap: 2px;
}

.social-links {
    display: flex;
    gap: 15px;
}

.social-icon {
    font-size: 22px;
    color: #fff;
}