#hero {
    background-image: url("../assets/hotel-booking-hero.png");
    min-height: 100vh;
    max-width: 100vw;
    background-size: 100% 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    position: relative;
    padding: 40px;
}

#hero::before {
    content: "";
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0px;
    left: 0px;
    background-color: rgba(0, 0, 0, 0.45);
    backdrop-filter: blur(2px);
}

#hero-content {
    position: relative;
    width: 100%;
    max-width: 800px;
    animation: startAni 0.5s ease;
}

#hero-content>h1 {
    letter-spacing: 4px;
    font-size: 40px;
    margin-bottom: 4px;
    text-align: center;
}

#hero-content>p {
    letter-spacing: 2px;
    font-size: 18px;
    margin-bottom: 35px;
    text-align: center;
}

#search-box {
    min-width: 100%;
    background-color: rgba(255, 255, 255, 0.2);
    display: flex;
    gap: 20px;
    padding: 20px;
    backdrop-filter: blur(10px);
    box-shadow: 0px 8px 32px rgba(0, 0, 0, 0.45);
}

#search-box>div {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

#search-box>div>input {
    height: 30px;
    font-size: 16px;
    padding: 10px;
}

#search-btn {
    justify-content: center;
    width: 100px;
    margin-left: 10px;
}

#search-btn>button {
    height: 30px;
    cursor: pointer;
    color: white;
    background-color: rgb(246, 116, 29);
    border: none;
    border-radius: 5px;
}

#search-btn>button:hover {
    background-color: rgb(248, 101, 3);
}

@media (width<=850px) {
    #search-box {
        flex-direction: column;
    }

    #hero-content>h1 {
        text-align: center;
        font-size: 28px;
    }
    #hero-content>p{
        font-size: 16px;
    }
    #hero-content{
        margin-top: 10px;
    }

    #search-btn {
        width: 80%;
        margin: auto;
    }

    #search-btn>button {
        width: 80%;
        margin: auto;
    }
}

    