.hotel-details-main {
    max-width: 1400px;
    margin: auto;
    padding: 60px var(--padding);

}

.hotel-details {
    display: grid;
    grid-template-columns: 2fr 1.5fr;
    gap: 20px;
    margin-bottom: 60px;
}

.hotel-details>div {
    height: 100%;
    background-color: #fff;
}

.hotel-images {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.main-image {
    height: 300px;
}

.main-image>img {
    height: 100%;
    width: 100%;
    object-fit: cover;
    border-radius: 12px;
}

.images-card-container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 10px;
}

.image-card {
    height: 70px;
    border-radius: 12px;
}

.image-card>img {
    height: 100%;
    width: 100%;
    object-fit: cover;
    border-radius: 12px;
    cursor: pointer;
}

.selected {
    border: 3px solid var(--secondary);
    border-radius: 12px;
}

.hotel-content {
    padding: 20px;
}

.hotel-content>h1 {
    color: var(--primary);
    margin-bottom: 7px;
    font-size: 30px;
}

.hotel-content .hotel-location>span {
    color: var(--gray);
    font-size: 18px;
    display: block;
    margin-bottom: 7px;
}

.hotel-content .hotel-ratings {
    display: flex;
    gap: 15px;
    align-items: center;
    margin-bottom: 7px;
}

.hotel-content .hotel-ratings>span {
    background-color: var(--primary);
    display: inline-block;
    padding: 3px 10px;
    color: #fff;
    border-radius: 5px;
}

.stars {
    color: #ffe600;
    font-size: 20px;
}

.hotel-price {
    font-size: 20px;
    color: var(--primary);
    font-weight: 600;
    margin-bottom: 10px;
}

.hotel-description {
    font-size: 18px;
    color: var(--para-color);
    margin-bottom: 15px;
}

.hotel-booking-btn>button {
    width: 100px;
    height: 30px;
    background-color: var(--primary);
    border: none;
    cursor: pointer;
    color: #fff;
    transition: all 0.6s ease;
    border-radius: 5px;
}

.hotel-booking-btn>button:hover {
    transform: translateY(-5px);
    background-color: var(--primary-dark);
}

.hotel-facts {
    background-color: #fff;
    max-width: 900px;
    margin: auto;
    padding: 20px 40px;
    border-radius: var(--border-radius);
    box-shadow: var(--shadow);
    margin-bottom: 60px;
}

.hotel-facts>h2 {
    margin-bottom: 12px;
    font-weight: 600;
}

.hotel-fact {
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
    padding-bottom: 10px;
    border-bottom: 2px solid var(--gray-light);
}

.rooms-container>h2 {
    margin-bottom: 20px;
    font-size: 30px;
    font-weight: 600;
}

.rooms-grid {
    display: grid;
    grid-template-columns: 1fr;
    gap: 40px;
}

.room-card {
    background-color: #fff;
    display: grid;
    grid-template-columns: 250px 1fr;
    border-radius: var(--border-radius);
    box-shadow: var(--shadow);
    height: 180px;
}

.room-image {
    height: 100%;
    border-radius: 12px;
}

.room-image>img {
    height: 100%;
    width: 100%;
    border-radius: 12px 0px 0px 12px;
    object-fit: cover;
}

.room-details {
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 100%;
}

.room-header>h3 {
    margin-bottom: 7px;
    font-size: 20px;
    font-weight: 600;
}

.room-info {
    margin-bottom: 7px;
    color: var(--gray);
    display: flex;
    gap: 10px;
    align-items: center;
}

.room-info>div {
    display: flex;
    gap: 5px;
    align-items: center;
    font-size: 15px;
}


.room-footer {
    display: flex;
    justify-content: space-between;
}

.room-price {
    display: flex;
    gap: 5px;
    align-items: center;
}

.room-price>span:nth-child(1) {
    color: var(--primary);
    font-size: 20px;
    font-weight: 500;
}

.room-price>span:nth-child(2) {
    color: var(--gray);
}

.room-book-btn>button {
    height: 30px;
    width: 120px;
    border-radius: 5px;
    cursor: pointer;
    color: #fff;
    border: none;
    background-color: var(--primary);
    transition: var(--transition);
}

.room-book-btn>button:hover {
    background-color: var(--primary-dark);
    transform: translateY(-5px)
}

@media (width<=1200px) {
    .hotel-details {
        grid-template-columns: 1fr;
    }
}

@media (width<=800px) {
    .room-card {
        grid-template-columns: 1fr;
        height: auto;
    }

    .room-image {
        height: 200px;
    }

    .room-image>img {
        border-radius: 12px 12px 0px 0px;
    }
}

@media (width<=500px) {
    .hotel-fact {
        font-size: 12px;
    }

    .room-info {
        flex-direction: column;
        align-items: start;
        margin-bottom: 10px;
    }

    .room-description {
        margin-bottom: 20px;
    }
}