.manage-bookings-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.manage-bookings-header>h1 {
    font-size: 30px;
    font-weight: 600;
}

.manage-bookings-filter {
    display: flex;
    gap: 20px;
    align-items: center;
}

.manage-bookings-filter>select {
    border: 1px solid #e0e0e0;
    padding: 8px 16px;
}

.manage-bookings-filter>input {
    border: 1px solid #e0e0e0;
    padding: 8px 16px;
}

.manage-bookings-content {
    max-width: 1400px;
    overflow-x: auto;
    margin: auto;
    margin-top: 40px;
    border: 1px solid #e5e7eb;
    border-radius: 12px;
}

.manage-bookings-content>table {
    width: 100%;
    min-width: 800px;
    overflow-x: auto;
    border: 1px solid #e5e7eb;
    border-collapse: collapse;
    text-align: center;
    border-radius: 12px;
    background-color: #fff;
    color: #222;
}

.manage-bookings-table th {
    padding: 10px 20px;
    font-size: 16px;
    background-color: #f9fafb;
    font-weight: 600;
    border-bottom: 1px solid #e5e7eb;
}

.manage-bookings-table td {
    border-bottom: 1px solid #e5e7eb;
    padding: 16px 20px;
    font-size: 14px;
}

.status-confirmed {
    display: block;
    padding: 5px 7px;
    background-color: #D1FAE5;
    border-radius: 12px;
    font-size: 12px;
    color: green;
    font-weight: 600;
}

.status-cancelled {
    background-color: #FEE2E2;
    display: block;
    padding: 5px 7px;
    border-radius: 12px;
    font-size: 12px;
    color: #991b1b;
    font-weight: 600;
}

.status-pending,
.status-refunded {
    background-color: #FEF3C7;
    display: block;
    padding: 5px 7px;
    border-radius: 12px;
    font-size: 12px;
    color: #92400e;
    font-weight: 600;
}

.status-refunded {
    color: #3730a3;
    background-color: #e0e7ff;
}

.view-booking-btn {
    background-color: #f9fafb;
    border: 1px solid #e8edff;
    color: #4361ee;
    padding: 5px 10px;
    border-radius: 7px;
    cursor: pointer;
}

.manage-bookings-pop-up {
    position: fixed;
    height: 100%;
    width: 100%;
    top: 0px;
    left: 0px;
    background-color: rgba(0, 0, 0, 0.3);
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 60px 40px;
}

.manage-bookings-pop-up-container {
    background-color: #fff;
    width: 100%;
    max-width: 800px;
    max-height: 80vh;
    border-radius: 12px;
    overflow-y: auto;
    box-shadow: var(--shadow);
    padding: 40px;
}

.manage-booking-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
    gap: 20px;
    margin-top: 20px;
}

.manage-bookings-columns {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.manage-booking-column-label {
    color: var(--gray);
    display: block;
}

.manage-booking-column-value {
    color: #222;
    font-weight: 500;
    display: block;
}

.special-requests-column {
    grid-column: 1/-1;
}

.manage-bookings-pop-up-footer {
    margin-top: 20px;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
    gap: 20px;
}

.manage-bookings-pop-up-footer>button {
    height: 40px;
    border: none;
    color: #fff;
    cursor: pointer;
    border-radius: 10px;
}

.confirm-booking-btn {
    background-color: var(--primary);
}

.cancel-booking-btn {
    background-color: #E11D74;
}

.mark-complete-booking-btn {
    background-color: #04e004;
}

.close-btn {
    background-color: var(--gray);
}

@media (width<=800px) {
    .manage-bookings-header {
        flex-direction: column;
        align-items: start;
        gap: 20px;
    }

    .manage-bookings-filter {
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 10px;
    }
}

@media (width<=350px) {
    .manage-bookings-filter {
        grid-template-columns: 1fr;
    }
}