.my-bookings-main {
    padding: 60px var(--padding);
    min-height: 100vh;
    max-width: 1400px;
    margin: auto;
}

.my-bookings-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.my-bookings-header-main>h2 {
    font-size: 30px;
    font-weight: 600;
}

.my-bookings-filter>select {
    width: 500px;
    height: 30px;
    border: 1px solid #e0e0e0;
    outline: none;
    background-color: #fff;
    color: black;
    font-weight: 500;
}

.my-bookings-container {
    display: grid;
    grid-template-columns: 1fr;
    gap: 40px;
    margin-top: 60px;
}

.my-booking-card {
    /* height: 300px; */
    background-color: #fff;
    border-radius: 12px;
    box-shadow: var(--shadow);
    padding: 20px;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.my-booking-card-header {
    display: flex;
    justify-content: space-between;
}

.my-booking-hotel-name {
    display: flex;
    flex-direction: column;
    gap: 2px;
}

.hotel-location>span {
    color: var(--gray);
}

.my-booking-card-info {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(260px, 1fr));
    gap: 15px;
}

.my-booking-card-info>div {
    display: flex;
    flex-direction: column;
}

.my-booking-card-info>div>span:nth-child(1) {
    color: var(--gray);
}

.my-booking-card-footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.my-booking-price {
    font-size: 25px;
    color: var(--primary);
    font-weight: 600;
}
.my-booking-action-btn{
    font-size: 16px;
    cursor: pointer;
    padding: 5px 10px;
    border-radius: 10px;
}
.write-review {
    background-color: #FFE600;
}
.cancel-booking{
    background-color: #E11D74;
    color: #fff;
}
.canceled-booking{
    color: #E11D74;
}


@media (width<=850px) {
    .my-bookings-header {
        flex-direction: column;
        align-items: start;
        gap: 10px;
    }
}

@media (width<=600px) {
    .my-bookings-filter>select {
        width: 100%;
    }
}