#register-section {
    min-height: calc(100vh - 60px);
    background-image: url("../assets/login-page.png");
    background-size: 100% 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: var(--padding);
    position: relative;
}

#register-section::before {
    content: "";
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0px;
    left: 0px;
    background-color: rgba(0, 0, 0, 0.1);
}

#register-form {
    background-color: rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(20px);
    padding: 20px;
    display: grid;
    /* flex-direction: column; */
    grid-template-columns: 1fr 1fr;
    gap: 10px;
    box-shadow: var(--shadow);
    margin: auto;
    width: 100%;
    max-width: 800px;
    border-radius: 5px;
    color: #fff;
    animation: fadeIn 0.5s ease;
}

.register-input-container {
    display: flex;
    flex-direction: column;
    gap: 7px;
}

#register-form>h1 {
    text-align: center;
    grid-column: 1/3;
}

.register-input-container>input {
    border: none;
    outline: none;
    height: 30px;
    width: 100%;
    background-color: var(--light);
    padding: 5px;
}
.profile-image-input>input{
    background-color: transparent;
}

.profile-image-input {
    grid-column: 1/3;
}

.register-input-container>label {
    color: #fff;
}

#register-new-user {
    display: flex;
    gap: 7px;
}

#register-btn {
    grid-column: 1/3;
}

#register-btn>button {
    background-color: var(--primary);
    width: 100%;
    color: #fff;
    border: none;
    height: 25px;
    cursor: pointer;
    font-size: 18px;
    font-weight: 600;
    margin-top: 10px;
}

@keyframes fadeIn {
    from {
        opacity: 0;
        transform: translateY(20px);
    }

    to {
        opacity: 1;
        transform: translateY(0px);
    }
}

@media (width<=800px) {
    #register-form {
        grid-template-columns: 1fr;
    }

    #register-form>h1,
    .profile-image-input,
    #register-btn {
        grid-column: 1/2;
    }
}