.update-hotel-form-container {
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.update-hotel-form {
    background-color: #fff;
    padding: 20px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 100%;
    max-width: 1100px;
    box-shadow: var(--shadow);
    border-radius: 12px;
}

.update-hotel-form>h1 {
    font-weight: 600;
    color: var(--primary);
    margin-bottom: 10px;
}

.update-hotel-form-section {
    display: flex;
    flex-direction: column;
    padding: 15px;
    border: 1px solid #e0e0e0;
    border-radius: 20px;
    gap: 15px;
}

.update-hotel-form-section>h2 {
    font-weight: 500;
    margin-bottom: 5px;
}

.update-hotel-column {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.update-hotel-column>input,
.update-hotel-column>select {
    height: 30px;
    background-color: #f6f7fa;
    border: 2px solid #e0e0e0;
    border-radius: 5px;
    padding: 3px 5px;
}

.update-hotel-column>textarea {
    background-color: #f6f7fa;
    border: 2px solid #e0e0e0;
    border-radius: 5px;
    min-width: 100%;
    max-width: 100%;
    padding: 3px 5px;
}

.update-hotel-column>label {
    color: var(--heading-color);
}

.update-hotel-pet-section {
    display: flex;
    gap: 10px;
    align-items: center;
}

.update-hotel-pet-section>input {
    height: 16px;
    width: 16px;
    accent-color: var(--primary);
}

.images-preview {
    display: flex;
    margin-top: 20px;
    gap: 15px;
}

.image-preview-container {
    height: 50px;
    width: 70px;
    position: relative;
}

.image-preview-container>img {
    height: 100%;
    width: 100%;
    border-radius: 5px;
    object-fit: cover;
}

.cross-image {
    position: absolute;
    right: -5px;
    top: -5px;
    font-size: 12px;
    width: 15px;
    height: 15px;
    z-index: 1;
    color: #fff;
    background-color: red;
    border-radius: 50%;
    cursor: pointer;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
}

.update-hotel-submit-form>button {
    width: 100%;
    height: 40px;
    background-color: var(--primary);
    color: #fff;
    cursor: pointer;
    font-size: 17px;
    border: none;
    margin-top: 10px;
}

.update-hotel-submit-form>button:hover {
    background-color: var(--primary-dark);
}


@media (width<850px) {
    .update-hotel-form>h1 {
        font-size: 25px;
    }

    .update-hotel-form-section>h2 {
        font-size: 20px;
    }
}